[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
bcrypt = "*"
cerberus = "*"
flask-jwt-extended = "*"
nanoid = "*"
python-dotenv = "*"

mysql-connector-python = "*"

[dev-packages]
flask = "*"
sqlalchemy = "*"
mysql-connector-python = "*"
python-dotenv = "*"
bcrypt = "*"
flask-jwt-extended = "*"

[requires]
python_version = "3.11"
